{
	"extends": ["airbnb", "airbnb/hooks", "prettier", "plugin:import/recommended"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"indent": ["error", "tab"],
		"no-tabs": 0,
		"quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"react/prop-types": ["off"],
		"import/prefer-default-export": "off"
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [["@", "./src/"]],
				"extensions": [".js", ".jsx"]
			}
		}
	}
}
